:root{
    --dark: #3C4359;
    --accent: #E27C33;
    --gray-l: #F8F8FB;
    --gray: #F4F4F4;
    --gray-d: #A6A6A6;
    --gray-sd: #7B7878;
    --text: #333;
}
*{
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--text);
    min-width: 340px;
    margin: 0;
    padding: 0;
}
.container{
    width: 1320px;
    margin: 0 auto;
}